* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #111;
}

#chart {
    width: 100%;
}

.morris-hover.morris-default-style {
    border-radius: none;
    background: none;
    border: none;
    text-shadow: none;
}

form {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    padding: 10px;
    background-color: #111;
}
form input, form button[type=submit] {
    display: inline-block;
    text-align: center;
    border: none;
    height: 60px;
    font-size: 16px;
    border-radius: 0;
}
form input + input {
    margin-left: 10px;
}
form input {
    color: #111;
    width: 80px;
}
form button[type=submit] {
    margin-top: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 260px;
    height: 36px;
}
form button[type=submit]:action {
    background-color: darkgray;
}