/* GENERAL */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
}

.loading-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/spinner-60x60.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999999999;
}

/* CHART VIEW */
#chart {
    width: 100%;
}

.morris-hover.morris-default-style {
    border-radius: none;
    background: none;
    border: none;
    text-shadow: none;
}

/* TABLE VIEW */
#table {
    width: 100%;
    margin: 140px 0 20px;
}

#table table {
    color: #CCC;
    text-align: center;
    margin: 0 auto;
}
#table table tr td {
    padding: 1px 10px;
}
#table table tr td:first-child {
    text-align: right;
}

.bp-optimal {
    color: deepskyblue;
}
.bp-normal {
    color: springgreen;
}
.bp-normalhigh {
    color: seagreen;
}
.bp-hypertension1 {
    color: yellow;
}
.bp-hypertension2 {
    color: orange;
}
.bp-hypertension3 {
    color: red;
}

/* LOG FORM AREA */
form {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    padding: 10px;
    background-color: #111;
}
form input, form button[type=submit] {
    display: inline-block;
    text-align: center;
    border: none;
    height: 60px;
    font-size: 16px;
    border-radius: 0;
}
form input + input {
    margin-left: 10px;
}
form input {
    color: #111;
    width: 80px;
}
form button[type=submit] {
    margin-top: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 260px;
    height: 36px;
}
form button[type=submit]:action {
    background-color: darkgray;
}
